<section class="advanced-demo angle-demo" aria-label="奇怪角度和不完整人物示意图">
  <div class="advanced-demo__grid">
    <div class="advanced-demo__card">
      <div class="advanced-demo__badge">反常角度</div>
      <div class="advanced-demo__scene angle-demo__scene angle-demo__scene--tilt">
        <div class="angle-demo__horizon">地平线</div>
        <div class="angle-demo__block angle-demo__block--one">墙</div>
        <div class="angle-demo__block angle-demo__block--two">人</div>
      </div>
      <p>奇怪角度要让画面有意图地不稳定，不是手机歪了而已。倾斜、贴地、仰拍都要服务现场气氛。</p>
    </div>
    <div class="advanced-demo__card">
      <div class="advanced-demo__badge">不完整人物</div>
      <div class="advanced-demo__scene angle-demo__scene angle-demo__scene--crop">
        <div class="angle-demo__edge">画面边缘</div>
        <div class="angle-demo__body">半个人</div>
        <div class="angle-demo__shadow">影子</div>
      </div>
      <p>人物不完整时，观众会自己补全现场。裁切得好，它会更像一瞬间；裁切得乱，就只像没拍到。</p>
    </div>
  </div>
</section>
