<section class="street-demo" aria-label="街拍瞬间示意图">
  <div class="street-demo__grid">
    <div class="street-demo__card">
      <div class="street-demo__badge">等瞬间</div>
      <div class="street-demo__scene street-demo__scene--wait">
        <div class="street-demo__lane"></div>
        <div class="street-demo__subject street-demo__subject--wait">主体</div>
        <div class="street-demo__frame-mark">站住等它进画面</div>
      </div>
      <p>街拍不是见什么都追，有时候先站好位置，等人物、车流、影子、反光自己走进来，画面会更稳。</p>
    </div>
    <div class="street-demo__card">
      <div class="street-demo__badge">抓关系</div>
      <div class="street-demo__scene street-demo__scene--relation">
        <div class="street-demo__subject street-demo__subject--left">人 A</div>
        <div class="street-demo__subject street-demo__subject--right">人 B</div>
        <div class="street-demo__line"></div>
      </div>
      <p>真正有意思的街头照片，常常不是单个人，而是人物之间、人物和环境之间那一瞬间的关系。</p>
    </div>
  </div>
</section>

